.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 300;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container ul li:hover {
  color: var(--light-accent);
}

.container ul li:active {
  transform: scale(0.9);
}

.closeBtn {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 30px;
}

.closeBtn:hover {
  color: var(--light-accent);
}

.closeBtn:active {
  transform: scale(0.9);
}

.navClose {
  left: -100%;
}

.navClose .closeBtn {
  left: -100%;
}

.navOpen {
  left: 0;
}

.container li {
  font-size: 23px;
  font-weight: 500;
  color: var(--light-bold);
  font-family: Poppins, "sans-serif";
}
