.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(8.2rem + 5rem) 5rem 5rem;
  gap: 5rem;
  background-color: var(--bg-light-grey);
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
  max-height: 28rem;
  border-radius: 50%;
  border: .3rem solid var(--light-bold);
  overflow: hidden;
  animation: var(--morph-name) var(--morph-duration)
    var(--morph-timing-function) var(--morph-iteration-count);
  transition: all 0.3s ease-in-out;
}

.image_container img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image_container {
  background-image: url("../../assets/profile.jpg");
  background-position: center;
  background-size: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.5rem
}

.profile h1 {
  font-size: 3.9rem;
  font-weight: bold;
  line-height: 1.2;
}

.profile p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 2rem;
}

.techStack_container {
  text-align: center;
}

.techStack_container h3 {
  color: var(--light-accent);
  display: inline-block;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 0 1rem;
  border-bottom:.2rem solid var(--light-accent);
}

.techStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 3rem;
  list-style: none;
  gap: 3rem;
}

.techStack {
  width: 7rem;
  background-color: var(--bg-light-white);
  padding: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.09);
}

.techStack img {
  aspect-ratio: 1;
}

@media screen and (min-width: 500px) {
  .image_container {
    max-width:35rem;
    max-height: 35rem;
  }
  .profile h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image_container {
    grid-column: span 2;
  }
  .profile {
    justify-content: center;
    align-items: start;
    text-align: start;
    grid-column: span 3;
    order: -1;
    gap: 2rem;
  }

  .techStack_container {
    grid-column: span 5;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }

  .techStack_container h3 {
    border-bottom: none;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    border-right: .1rem solid var(--light-accent);
  }
}
