.hero {
  background-color: var(--bg-light-grey);
  width: 100%;
}
.container {
  padding: calc(8rem + 5rem) 1.7rem 5rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero_image {
  background-image: url("../../assets/profile.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 3px solid var(--light-bold);
  height: 28rem;
  width: 28rem;
  animation: var(--morph-name) var(--morph-duration)
    var(--morph-timing-function) var(--morph-iteration-count);

  transition: all 1s ease-in-out;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero_text h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 2rem 0;
}

.hero_text p {
  margin-bottom: 6rem;
  font-size: 1.8rem;
}

.hero_text span {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
  margin-top: -2rem;
}

.hero_text span a:hover {
  color: var(--light-accent);
}

.hero_text span a:active {
  transform: scale(0.9);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h3 {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(45, 46, 50, 0.5);
  font-weight: 600;
}

.techStacks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.techStack {
  max-width: 6.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background-color: var(--bg-light-white);
  padding: 1.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .container {
    padding: calc(8rem + 5rem) 4rem 5rem;
    max-width: 60rem;
    margin: 0 auto;
  }
  .hero_image {
    width: 35rem;
    height: 35rem;
  }
  .hero_text h1 {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 107rem;
  }
  .hero_main {
    flex-direction: row;
    gap: 10rem;
  }

  .hero_text {
    justify-content: center;
    align-items: start;
    text-align: left;
    max-width: 50rem;
    order: -1;
  }

  .skills {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 10rem;
  }

  .skills h3 {
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 1rem;
    padding-right: 3rem;
    border-right: 2px solid var(--light-bold);
  }
}
