.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(82px + 50px) 50px 50px;
  gap: 50px;
  background-color: var(--bg-light-grey);
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  max-height: 280px;
  border-radius: 50%;
  border: 3px solid var(--light-bold);
  overflow: hidden;
  animation: var(--morph-name) var(--morph-duration)
    var(--morph-timing-function) var(--morph-iteration-count);
  transition: all 0.3s ease-in-out;
}

.image_container img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image_container {
  background-image: url("../../assets/profile.jpg");
  background-position: center;
  background-size: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
}

.profile h1 {
  font-size: 39px;
  font-weight: bold;
  line-height: 1.2;
}

.profile p {
  font-size: 18px;
  line-height: 1.5;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}

.techStack_container {
  text-align: center;
}

.techStack_container h3 {
  color: var(--light-accent);
  display: inline-block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px 10px;
  border-bottom: 2px solid var(--light-accent);
}

.techStacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 35px 30px;
  list-style: none;
  gap: 30px;
}

.techStack {
  width: 70px;
  background-color: var(--bg-light-white);
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.techStack img {
  aspect-ratio: 1;
}

@media screen and (min-width: 500px) {
  .image_container {
    max-width: 350px;
    max-height: 350px;
  }
  .profile h1 {
    font-size: 55px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image_container {
    grid-column: span 2;
  }
  .profile {
    justify-content: center;
    align-items: start;
    text-align: start;
    grid-column: span 3;
    order: -1;
    gap: 20px;
  }

  .techStack_container {
    grid-column: span 5;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }

  .techStack_container h3 {
    border-bottom: none;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 1px solid var(--light-accent);
  }
}
