.techStacks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  user-select: none;
}

.techStack {
  width: 6.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background-color: var(--bg-light-white);
  padding: 1.5rem;
  border-radius: 50%;
}
