.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light-white);
  padding: 25px 30px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.logo:hover {
  color: var(--light-accent);
}

.menu {
  font-size: 2rem;
  font-weight: bold;
}
