.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light-white);
  padding: 2.5rem 3.5rem;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.09);
  gap: 5rem;
  min-width: 26.8rem;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}

.logo:hover {
  color: var(--light-accent);
}

.logo:active {
  transform: scale(0.9);
}

.menu {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
}

.menu:hover {
  color: var(--light-accent);
}

.menu:active {
  transform: scale(0.9);
}

.nav {
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 500;
  gap: 2rem;
  display: none;
}

.navItem {
  font-size: 1.8rem;
  font-family: Poppins, "sans-serif";
}

.navItem:hover {
  color: var(--light-accent);
}
.navItem:active {
  transform: scale(1.1);
}

@media screen and (min-width: 500px) {
  .container {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 900px) {
  .menu {
    display: none;
  }
  .nav {
    display: flex;
  }
}
