.container {
  background-color: var(--light-bold);
  padding: 5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  color: var(--bg-light-white);
  font-size: 1.8rem;
}

.socials {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}

.socials a:hover {
  color: var(--light-accent);
}

.socials a:active {
  transform: scale(1.2);
}

@media screen and (min-width: 515px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .container {
    justify-content: center;
    gap: 50rem;
  }
  .socials {
    font-size: 3rem;
    gap: 3rem;
  }
}
